* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Monospace;
    
}

.heading {

    height: 500px;
    width: 100%;
    padding-top: 25px;
    background-color:#1f2937 ;


}

body {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#head1 {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f2937;


}

.ass {
    height: 100%;
    width: 40%;
    font-size: 20px;
    background-color: #1f2937;
    



}


#logo {
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

li {
    display: inline-block;
    margin: 0;
    font-size: 15px;
    margin: 4px;
}

#main_head {
    width: 100%;
    height: 100%;
    background-color: #1f2937
}

#text_head {
    width: 30%;
    height: 60%;
    margin-right: 0;
    transform: translateX(50px);

}

#image_head {
    width: 35%;
    height: 60%;
    margin-left: 0;
    transform: translateX(-50px);

}

#main_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9fafb;
    margin-bottom: 0;
}

span {
    margin-top: 0;
    font-size: 18px;
    font-weight: 100px;
    color: #f9fafb;
}

button {
    margin-top: 30px;
    background-color: #3b82f6;
    padding: 10px 20px;
    color: #d7e5fc;
    border-radius: 7px;
    font-weight: 700;

}

#image {
    background-color: #6d747d;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c8cace;
}

#second {
    width: 100%;
    height: 450px;
    padding-left: 200px;
    padding-right: 200px;

}

#head2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    transform: translateY(25px);
    color: #1F2937;
}

.info {
    width: 250px;
    height: 250px;
}

#block2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 50px;


}

.box {
    border: 3.5px solid #6ca1f8;
    width: 57%;
    height: 60%;
    border-radius: 10%;
}

.text {
    width: 60%;
    height: 20%;
    margin-top: 10px;
    color: grey;
    display: flex;
    justify-content: center;
    text-align: center;
}

#review {
    width: 100%;
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#r1 {
    width: 50%;
    height: 55%;
}

#text1 {
    width: 100%;
    height: 80%;
    text-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    transform: translateY(15px);
}

#text2 {
    width: 100%;
    height: 20%;
    text-align: right;
    transform: translateY(45px);
    font-weight: 900;
    font-size: 20px;
}

#signup {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupmain {
    width: 65%;
    height: 50%;
    background-color: #3B82F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

#s1 {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#s2 {
    width: 35%;
    height: 100%;
    background-color: #3B82F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#x1 {
    width: 80%;
    height: 20%;
    font-weight: 600;
    font-size: 20px;
    color: white;
    transform: translateX(20px);
}

#x2 {
    width: 80%;
    height: 20%;
    color: white;
    transform: translateX(20px);

}
#signbutton{
    background-color: #3B82F6;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-15px);
    border:3px solid white;
    font-size: 15px;
}
#outro{
    width:100%;
    height:50px;
    background-color:#1f2937 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    color:white;
}